<div
  class="alert alert-warning"
  role="alert"
  style="text-align: center"
  (click)="setCurrentAllBrand()"
  [class]="getAllBrandClass()"
  routerLink="/cars"
>
<button type="button" class="btn btn-success">
  Tüm Araçları Listele
</button>
</div>

<div class="alert alert-warning" role="alert" style="text-align: center">
  <strong>MARKALAR</strong>
</div>

<select
  class="form-select"
  *ngIf="brandLoaded == true"
  [(ngModel)]="selectedBrand"
  aria-label="Default select example"
  routerLink="cars/brand/{{ selectedBrand }}"
>
  <option [ngValue]="null">Marka seçiniz</option>
  <option
    *ngFor="let brand of brands | brandFilterPipe : filterText"
    [value]="brand.brandId"

  >
    {{ brand.brandName }}
  </option>
</select>
