<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="passwordUpdateForm" id="form">
      <img
        class="mb-4"
        src="https://www.shutterstock.com/image-vector/password-reset-icon-flat-vector-600nw-2018493584.jpg"
        class="password-image"
      />
      <hr class="solid" />
      <h1 class="h3 mb-3 fw-normal">Şifre değiştir</h1>

      <div class="form-floating">
        <input
          formControlName="oldPassword"
          type="password"
          class="form-control"
          id="oldPassword"
          placeholder="Old Password"
        />
        <label for="floatingPassword">Eski şifre</label>
      </div>
      <div class="form-floating">
        <input
          formControlName="newPassword"
          type="password"
          class="form-control"
          id="newPassword"
          placeholder="New Password"
        />
        <label for="floatingPassword">Yeni şifre</label>
      </div>
      <div class="form-floating">
        <input
          formControlName="secondNewPassword"
          type="password"
          class="form-control"
          id="secondNewPassword"
          placeholder="Second New Password"
        />
        <label for="floatingPassword">Yeni şifre tekrar</label>
      </div>
      <button
        class="btn btn-primary w-100 py-2 mb-2"
        (click)="updatePassword()"
      >
        Güncelle
      </button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2023–2024</p>
    </form>
  </main>
</body>
