<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title text-center">Renk Sil</h5>
      </div>
      <div *ngIf="color" class="card-body">
        <form [formGroup]="colorDeleteForm">
          <div class="mb-3">
            <label for="colorName"><b>Renk Adı</b></label>
            <div class="form-group">
              <input
                type="text"
                id="colorName"
                formControlName="colorName"
                class="form-control"
                readonly
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button
          class="btn btn-fill btn-success"
          (click)="delete()"
          style="float: right"
        >
          Sil
        </button>
      </div>
    </div>
  </div>
</div>
