<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <strong>Sepetiniz</strong>
  </a>
  <ul class="dropdown-menu">
    <li *ngFor="let cartItem of cartItems">
      <a class="dropdown-item">
        <span class="badge bg-secondary">{{ cartItem.quantity }}</span>
        {{ cartItem.car.brandName }}-{{ cartItem.car.carName
        }}<span
          (click)="removeFromCart(cartItem.car)"
          class="badge bg-secondary"
          style="cursor: pointer"
          >Sil</span
        ></a
      >
    </li>
    <li>
      <a routerLink="rentals/add" style="cursor: pointer" class="dropdown-item"
        ><strong class="center-text">ŞİMDİ KİRALA</strong></a
      >
    </li>
  </ul>
</li>
