.custom-button{
  position: relative;
  top: 24px;
  width: 175px;
  height: 37px;
}

.custom-button1{
  position: relative;
  top: 24px;
  width: 175px;
  height: 37px;
}

.center-text{
  text-align: center;
}

  .car-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.car-details-container {
  display: flex;
  flex-wrap: wrap;
}

.car-details {
  width: 48%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.car-details:hover {
  background-color: rgb(0, 102, 204);
}

.car-detail-item {
  margin-bottom: 10px;
}

.car-details-container{
  padding-top: 20px;
}

.search-image{
  width: 40px;
  height: 40px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%; /* Opsiyonel: Yuvarlak bir profil resmi yapmak için */
}

.car-details-container {
  display: flex;
  flex-wrap: wrap;
}

.car-details {
  width: calc(33.33% - 10px); /* 33.33% genişlikte, arasında 10px boşluk bırakarak */
  margin: 5px; /* Dikdörtgen kutucuklar arasında 5px boşluk */
  box-sizing: border-box;
}

.car-image{
  margin: auto;
  display: flex;
  align-items: center;
}