<body>
  <div
    *ngIf="dataLoaded == false"
    class="spinner-border text-primary"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label"></label>
    <div class="input-group">
      <img
        src="https://cdn4.iconfinder.com/data/icons/commenly-needed/400/Icon-12-512.png"
        class="search-image"
      />
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="filtertext"
        placeholder="Araç adı ara"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label>Marka seçiniz</label>
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="brandFilter"
      >
        <option *ngFor="let brand of brands" [value]="brand.brandId">
          {{ brand.brandName }}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      <label>Renk seçiniz</label>
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="colorFilter"
      >
        <option *ngFor="let color of colors" [value]="color.colorId">
          {{ color.colorName }}
        </option>
      </select>
    </div>

    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-outline-success custom-button"
        (click)="getCarByBrandAndColor(brandFilter, colorFilter)"
      >
        Filtrele
      </button>
    </div>
    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-outline-danger custom-button1"
        style="margin-left: 10%"
        (click)="clearFilters()"
      >
        Temizle
      </button>
    </div>
  </div>

  <div class="car-details-container">
    <div
      *ngFor="let car of cars | carFilterPipe : filterText"
      class="car-details"
      (click)="detail(car.id)"
      routerLink="/cars/{{ car.id }}"
    >
      <div class="car-detail-item">
        <img
          src="https://s7d1.scene7.com/is/image/hyundai/compare-vehicle-1225x619?wid=276&hei=156&fmt=webp-alpha"
          class="car-image"
        />
      </div>
      <div class="car-detail-item">
        <strong>Araba Adı:</strong> {{ car.carName }}
      </div>
      <div class="car-detail-item">
        <strong>Marka:</strong> {{ car.brandName }}
      </div>
      <div class="car-detail-item">
        <strong>Renk:</strong> {{ car.colorName }}
      </div>
      <div class="car-detail-item">
        <strong>Model Yılı:</strong> {{ car.modelYear }}
      </div>
      <div class="car-detail-item">
        <strong>Günlük Fiyat:</strong>
        {{ car.dailyPrice | currency : "TRY" : "symbol-narrow" : "1.2-2" }}
      </div>
    </div>
  </div>
</body>
<br />
<app-car-detail *ngIf="selectedCarId" [carId]="selectedCarId"></app-car-detail>
